.forecast {
  margin: 2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 0.75rem;
}

.open_forecast {
  padding: 1rem;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 1px solid black;
}

.open_forecast:hover {
  background-color: #1f1f1f;
  color: white;
  cursor: pointer;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px 0px;
}

.container h2 {
  padding: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.close {
  border-radius: 15px;
  border: none;
  margin-top: 20px;
  padding: 0.5rem;
  background-color: #7a7a7a;
  color: white;
  font-size: 1rem;
}

.close:hover {
  cursor: pointer;
  background-color: #7a7a7a8f;
}

@media only screen and (min-width: 768px) {
  .grid {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
  }
}
