.display {
  margin: auto;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0 0 10px 0px;
  font-size: 1rem;
  margin-top: 1rem;
}

.display:hover {
  background-color: rgba(169, 170, 170, 1);
}

@media only screen and (min-width: 768px) {
  .display {
    margin: 3rem auto;
    font-size: 1rem;
    max-width: 40vw;
  }
}
